Import Modules:

In [1]:
# Modules:

import pandas as pd 
import os

Set File Path:

In [2]:
# File Path: 

data_file ="03-Python_Homework_PyBank_Resources_budget_data.csv"
data_file_pd = pd.read_csv(data_file)

# Add in a columm show the month to month change value 
data_file_pd["Average Change"] = data_file_pd["Profit/Losses"].diff()
data_file_pd.head()

       Date  Profit/Losses  Average Change
0  Jan-2010         867884             NaN
1  Feb-2010         984655        116771.0
2  Mar-2010         322013       -662642.0
3  Apr-2010         -69417       -391430.0
4  May-2010         310503        379920.0

In [3]:
# Count the total months: 
total_month = data_file_pd["Date"].count()

# Sum the total profit: 
total_profit = data_file_pd["Profit/Losses"].sum()

# Calculate the average change" 
average_change = data_file_pd["Average Change"].mean()

# Find the greatest increase month and it value: 
greatest_increase = data_file_pd["Average Change"].max()
greatest_increase_month = data_file_pd["Date"].max()

# Find the greatest decrease month and it value:
greatest_decrease = data_file_pd["Average Change"].min()
greatest_decrease_month = data_file_pd["Date"].min()

#Print it all out:
print("FINANCIAL ANALYSIS")
print("-------------------------------------------------------")
print("Total Months: " , total_month)
print("Total Profit: " , total_profit)
print("Average Change: " , average_change)
print("Greatest Increase: " , greatest_increase_month, "(", greatest_increase, ")" )
print("Greatest Decrease: " , greatest_decrease_month, "(", greatest_decrease, ")" )

FINANCIAL ANALYSIS
-------------------------------------------------------
Total Months:  86
Total Profit:  38382578
Average Change:  -2315.1176470588234
Greatest Increase:  Sep-2016 ( 1926159.0 )
Greatest Decrease:  Apr-2010 ( -2196167.0 )